DATABASE_URL=""
SECRET_KEY=""
DEBUG="0" # or '1'

NOMBA_ACCOUNT_ID=""
NOMBA_CLIENT_ID=""
NOMBA_SECRET=""
NOMBA_WH_SECRET=""

PROD_DATABASE_URL=""

MIG_DB_USER=""
MIG_DB_PASS=""
MIG_DB_HOST=""
MIG_DB_PORT=""
MIG_DB=""